.sidebar {
    position: fixed;
    max-width: 250px;
    width: 100%;
    background: #fff;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
    border-right: 1px solid rgba(0,0,0,.05);

    nav {
        height: 100%;
    }
}

.sidebar__header {
    line-height: 1;
    height: 80px;
}

.sidebar__logo {
    padding: 1.5rem;
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 600;
}

.sidebar__toggler {
    padding: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    
    svg {
        font-size: 1.3rem;
    }
}

.sidebar__content {
    padding: 1rem 0;
}

.sidebar__inner {
    ul {
        padding: 0 1rem;

        li {
            border-radius: .3rem;
            transition: var(--default-transition);

            &:hover {
                background: #f6f9fc;
            }

            a {
                color: var(--text-color);
                padding: .875rem .5rem;

                svg {
                    margin-right: 1.2rem;
                }
            }
        }
    }
}