.sidebar {
    position: fixed;
    max-width: 250px;
    width: 100%;
    background: #fff;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
    border-right: 1px solid rgba(0,0,0,.05);
    transition: var(--default-transition);
    z-index: 2;

    nav {
        height: 100%;
    }

    @media screen and (max-width: 1200px) {
        left: -250px;
    }

    @media screen and (max-width: 400px) {
        left: -220px;
        max-width: 220px;
    }
}

.sidebar__header {
    line-height: 1;
    height: 80px;
}

.sidebar__logo {
    padding: 1.5rem;
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 600;
}

.sidebar__toggler {
    padding: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    
    svg {
        font-size: 1.3rem;
    }

    @media screen and (max-width: 1200px) {
        display: none;
    }
}

.sidebar__content {
    padding: 1rem 0;
}

.sidebar__inner {
    ul {
        padding: 0 1rem;

        li {
            border-radius: .3rem;
            transition: var(--default-transition);

            &:hover {
                background: var(--default-lista-hover);
            }

            a {
                color: var(--text-color);
                padding: .875rem .5rem;

                svg {
                    margin-right: 1rem;
                    font-size: 1.1rem;
                }
            }
        }
    }
}

.sidebar__open {
    @media screen and (max-width: 1200px) {
        left: 0;
    }
}

.sidebar__open_overlay {
    content: '';
    position: fixed;
    background-color: rgba(0,0,0,.05);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: var(--default-transition);
}