.login__wrapper {
    min-height: 100vh;
    width: 100%;
    background-image: var(--gradient-bg);
    padding: 2rem 0;

    @media screen and (max-width: 630px) {
        padding: 1rem 0;
    }
}

.login__box {
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0,0,0,.2);
    width: 550px;
    border-radius: 10px;
    padding: 4rem;

    @media screen and (max-width: 630px) {
        width: 90%;
        padding: 2rem;
    }
}

.login__header {
    text-align: center;
    padding-bottom: 2rem;

    h1 {
        font-size: 1.8rem;

        @media screen and (max-width: 630px) {
            font-size: 1.6rem;
        }
    }
}

.login__basic_link {
    text-align: center;
}