.profile__card {
    box-shadow: var(--default-boxshadow);
    border-radius: var(--default-radius);
    background-color: var(--secondary-bg);
}

.profile__card_inner {

}

.profile__card_header {
    width: 100%;
}

.profile__card_header_bg {
    background-image: url('/images/profile-card-bg.jpg');
    background-size: cover;
    background-position: center;
    border-radius: .4rem .4rem 0 0;
    height: 180px;
    width: 100%;
}

.profile__card_header_img {
    display: flex;
    justify-content: center;

    img {
        position: absolute;
        width: 100%;
        max-width: 130px;
        height: 100%;
        max-height: 130px;
        transform: translate(0,-50%);
        border: 4px solid #fff;
    }
}

.profile__card_body {
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    width: 100%;
    text-align: center;

    > span {
        font-weight: 600;
        font-size: 1rem;
    }
}

.profile__card_body_info {
    width: 100%;
    margin-top: 1.5rem;

    > div {
        display: flex;
        flex-direction: column;

        span {
            &:first-child {
                font-weight: 600;
                font-size: 1.1rem;
            }

            &:last-child {

            }
        }
    }
}