.profile__box_subtitle {
    padding-top: .3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--text-color-grey);
}

.profile__card {
    box-shadow: var(--default-boxshadow);
    border-radius: var(--default-radius);
    background-color: var(--white);
    transition: var(--default-transition);
    margin-bottom: 2rem;
}

.profile__card_header {
    width: 100%;
}

.profile__card_header_bg {
    background-image: url('/images/profile-card-bg.jpg');
    background-size: cover;
    background-position: center;
    border-radius: .4rem .4rem 0 0;
    height: 180px;
    width: 100%;
}

.profile__card_header_img {
    display: flex;
    justify-content: center;

    img {
        position: absolute;
        width: 100%;
        max-width: 130px;
        height: 100%;
        max-height: 130px;
        transform: translate(0,-50%);
        border: 4px solid var(--white);
    }
}

.profile__card_body {
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    width: 100%;
    text-align: center;

    > span {
        font-weight: 600;
        font-size: 1.05rem;
    }
}

.profile__card_body_info {
    width: 100%;
    margin-top: 1.1rem;

    > div {
        display: flex;
        flex-direction: column;

        span {
            &:first-child {
                font-weight: 600;
                font-size: 1.1rem;
                display: inline-block;
                margin-bottom: .3rem;
            }
        }
    }
}

.profile__card_footer {
    padding: 1.5rem;
    width: 100%;
    border-top: var(--default-border);

    label {
        flex-direction: row-reverse;
        margin: 0;

        span {
            margin-right: .5rem;
        }

        svg {
            color: var(--white);
            margin-top: -3px;
        }
    }
}