.navbar {
    padding: 1.2rem 0;
    background-color: var(--primary-bg);
    border-bottom: 1px solid rgba(255,255,255,.07);
    max-height: 80px;
}

.navbar__wrapper {
    position: relative;
}

.navbar__search_container {
    background: var(--white);
    border-radius: var(--circle-radius);
    box-shadow: 0 1px 3px rgb(50,50,93,.15), 0 1px 0 rgb(0,0,0,.2);
    transition: var(--default-transition);

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.navbar__search_icon {
    background: var(--white);
    height: 100%;
    padding-left: 1rem;
    border-radius: var(--circle-radius);
    transition: var(--default-transition);

    svg {
        font-size: 1.2rem;
        color: var(--text-color);
    }
}

.navbar__search_input {
    border-radius: var(--circle-radius);
    padding: .5rem;
    border-color: transparent !important;
}

.navbar__logo {
    display: none;

    a {
        font-size: 1.2rem;
        color: var(--primary-color);
        font-weight: 600;
        padding: .5rem 0;

        @media screen and (max-width: 330px) {
            font-size: 1.85rem;
        }

        span {
            font-size: 1.2rem;
            color: var(--primary-color);
            font-weight: 600;
            margin-left: .3rem;

            @media screen and (max-width: 330px) {
                display: none;
            }
        }
    }

    @media screen and (max-width: 768px) {
        display: block;
    }
}

.navbar__links {
    >ul {
        margin-right: .5rem;

        li {
            position: relative;

            .navbar__link_item {
                padding: .5rem 1rem;

                svg {
                    font-size: 1.25rem;
                    color: var(--primary-color);
                }
            }

            > span {
                cursor: pointer;
            }
        }        
    }
}

.navbar__sidebar_toggle {
    display: none;

    svg {
        font-size: 1.5rem !important;
    }

    @media screen and (max-width: 1200px) {
        display: block;
    }
}

.navbar__search_toggle {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
    }

    @media screen and (max-width: 400px) {
        display: none;
    }
}

.navbar__profile {
    position: relative;
    
    .navbar__nome_perfil {
        margin-left: .5rem;
        color: var(--primary-color);

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    > span {
        cursor: pointer;
    }
}

.profile__img {
    width: 37px;
    height: 37px;
}

.navbar__dropdown {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 10;
    right: 0;
    background: var(--white);
    min-width: 13rem;
    width: 100%;
    box-shadow: 0 5px 15px rgb(0,0,0,.2);
    border-radius: var(--default-radius);
    animation: opacity-transition .25s ease forwards;      
}

.navbar__dropdown_wrapper {
    padding: .5rem 0;

    ul {
        li {
            transition: var(--default-transition);

            &:hover {
                background: var(--default-lista-hover);
            }

            a {
                padding: 0.7rem 0.9rem;
                color: var(--text-color);
                font-size: .9rem;
                line-height: 1;

                svg {
                    margin-right: .5rem;
                    font-size: 1rem;
                }
            }

            &:last-child {
                border-top: var(--default-border);
            }

            &:first-child {
                border-top: 0;
            }
        }
    }
}

.navbar__search_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 1;
    animation: opacity-transition .25s ease forwards;

    .navbar__search_container {
        display: flex !important;
        width: 100%;
    }
}

.navbar__close_search {
    padding-right: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    cursor: pointer;

    svg {
        font-size: 1.2rem;
        color: var(--text-color);
    }
}