@use './Card.module';

.card__stats {
    .card__header {
        border: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1.25rem 1.5rem 0.5rem 1.5rem;

        div {
            h2 {
                font-size: .9rem;
                font-weight: 400;
            }

            span {
                font-weight: 600;
                font-size: 1.2rem;
            }

            > img {
                width: 3rem;
                height: auto;
                max-width: 100%;
            }
        }
    }

    .card__body {
        padding: 0 1.5rem 1.5rem 1.5rem;

        p {
            font-weight: 300;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            span {
                display: flex;
                align-items: center;

                &:first-child {
                    margin-right: 0.5rem;
                    font-weight: 600;
                    font-size: .97rem;
                }                    
            }
        }        
    }
}