@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

:root {
    --primary-bg: #8a2be2;
    --secondary-bg: #fff;
    --primary-color: #fff;
    --secondary-color: #8a2be2;
    --text-color: #444444;
    --default-radius: 7px;
    --default-transition: .3s all ease;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    outline: none;
}

p,
li,
span,
label,
input,
textarea {
    font-size: .9rem;
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3,
h4 {
    color: var(--text-color);
}

ul,
ol {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    font-size: .9rem;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    border: 1px solid transparent;
    padding: 15px;
    background: #f5f5f5;
    width: 100%;
    border-radius: var(--default-radius);
    transition: var(--default-transition);

    &:focus {
        border: 1px solid #dbcee6;
    }
}

input[type=checkbox] {
    transform: scale(1.3);
    cursor: pointer;
}

label {
    font-weight: 600;
    display: inline-block;
    margin-bottom: .5rem;
}

.btn {
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    border-radius: var(--default-radius);
    cursor: pointer;
    white-space: nowrap;
    font-size: .9rem;
    font-weight: 600;
    transition: var(--default-transition);
}

.btn--primary {
    background-color: var(--primary-bg);
    color: var(--primary-color);

    &:focus {
        box-shadow: 0 0 0 .22rem rgba(138,43,226,.5);
        border-color: #8a2be2;
    }
}

.btn--block {
    width: 100%;
    display: block;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.f-column {
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-check {
    display: block;
    margin-bottom: 1.5rem;

    label {
        margin-left: 10px;
        cursor: pointer;
        font-weight: 400;
    }
}

.input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    input {
        padding-right: 35px;
    }

    svg {
        position: absolute;
        right: 15px;
        cursor: pointer;
    }
}
