@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

:root {
    //Application colors
    --primary-bg: #8a2be2;
    --secondary-bg: #ffffff;
    --gradient-bg: linear-gradient(to bottom right, #8a2be2, #692be2);
    --body-bg: #f8f9fe;
    --primary-color: rgba(255,255,255,.9);
    --secondary-color: #8a2be2;
    --text-color: #444444;
    --text-color-grey: #9a9a9a;

    //Generic colors
    --green: #2DCE89;
    --red: #F5365C;
    --yellow: #FFCA20;
    --blue: #5E72E4;
    --grey: #bbbbbb;
    --white: #ffffff;

    //Default properties
    --default-lista-hover: #f6f9fc;
    --default-fontsize: .93rem;
    --default-radius: .4rem;
    --circle-radius: 2rem;
    --default-transition: .3s all ease;
    --default-boxshadow: 0 0 2rem 0 rgba(0,0,0, .05);
    --default-btnshadow: 0 0 0 .22rem rgba(138,43,226,.5);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: 100% 'Noto Sans JP', sans-serif;
    outline: none;
}

body {
    background-color: var(--body-bg);
}

p,
li,
span,
label,
input,
select,
textarea {
    font-size: var(--default-fontsize);
    color: var(--text-color);
    line-height: 1.7;
}

h1,
h2,
h3,
h4 {
    color: var(--text-color);
    line-height: 1.7;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.05rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: .9rem;
}

ul,
ol {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    font-size: var(--default-fontsize);
}

input[type=checkbox],
input[type=radio] {
    transform: scale(1.3);
    cursor: pointer;
}

label {
    font-weight: 600;
    display: inline-block;
    margin-bottom: .5rem;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin: 1.5rem 0;
}

.form-control {
    border: 1px solid #dee2e6;
    padding: 15px;
    background: var(--white);
    width: 100%;
    border-radius: var(--default-radius);
    transition: var(--default-transition);

    &:focus {
        border: 1px solid #8a2be2;
    }

    &::placeholder {
        color: var(--grey);
    }

    @media screen and (max-width: 991px) {
        padding: .625rem .75rem;
    }
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-check {
    display: block;
    padding-left: 3px;
    margin-bottom: 1.5rem;

    label {
        margin-left: 10px;
        cursor: pointer;
        font-weight: 400;
    }
}

.input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    input {
        padding-right: 35px;
    }

    svg {
        position: absolute;
        right: 15px;
        cursor: pointer;
    }
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col, 
.col-1, 
.col-2, 
.col-3, 
.col-4, 
.col-5, 
.col-6, 
.col-7, 
.col-8, 
.col-9, 
.col-10, 
.col-11, 
.col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .col-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .col-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .col-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .col-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .col-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .col-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .col-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .col-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .col-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .col-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .col-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.f-column {
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}

.circle-img {
    border-radius: 50%;
}

.show {
    opacity: 1 !important;
    display: block !important;
    visibility: visible !important;
}

.hide {
    opacity: 0 !important;
    display: none !important;
    visibility: hidden !important;
}

.main-content {
    margin-top: -4.5rem;
}

.bg-blue {
    background: var(--blue);
}

.text-blue {
    color: var(--blue);
}

.bg-green {
    background: var(--green);
}

.text-green {
    color: var(--green);
}

.bg-red {
    background: var(--red);
}

.text-red {
    color: var(--red);
}

.bg-yellow {
    background: var(--yellow);
}

.text-yellow {
    color: var(--yellow);
}

.btn {
    padding: 15px 20px;
    border: 1px solid transparent;
    border-radius: var(--default-radius);
    cursor: pointer;
    white-space: nowrap;
    font-size: var(--default-fontsize);
    font-weight: 600;
    transition: var(--default-transition);
    text-align: center;

    @media screen and (max-width: 991px) {
        padding: 12px 15px;
    }
}

.btn--primary {
    background-color: var(--primary-bg);
    color: var(--primary-color);

    &:focus {
        box-shadow: var(--default-btnshadow);
        border-color: var(--primary-bg);
    }
}

.btn--secondary {
    background-color: var(--secondary-bg);
    color: var(--secondary-color);
    border-color: var(--primary-bg);

    &:focus {
        box-shadow: var(--default-btnshadow);
        border-color: var(--primary-bg);
    }
}

.btn--block {
    width: 100%;
    display: block;
}

.basic-link {
    color: var(--secondary-color);

    &:active,
    &:hover,
    &:focus {
        color: var(--secondary-color);
        text-decoration: underline;
    }
}

.tag--primary {
    color: var(--primary-bg);
    border: 1px solid var(--primary-bg);
    display: inline-block;
    padding: 1px 13px;
    border-radius: 2rem;
    font-size: 0.78rem;
    font-weight: 600;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;

    th,
    td {
        text-align: left;
        font-size: .85rem;
        padding: .75rem 1.5rem;
        white-space: nowrap;
    }

    thead {
        tr {
            th {
                font-weight: 600;
            }
        }
    }

    tbody {
        tr {
            td {
                border-top: 1px solid #e9ecef;
            }
        }
    }
}

.table-striped {
    tbody {
        tr {
            &:nth-of-type(odd) {
                background: var(--default-lista-hover);
            }
        }
    }
}

.table-condensed {
    th,
    td {
        font-size: .75rem;
    }

    td,
    th {
            padding: .65rem 1.2rem;
    }
}

.box {
    background: var(--white);
    border-radius: var(--default-radius);
    box-shadow: var(--default-boxshadow);
    margin-bottom: 2rem;
}

.box-header {
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid rgba(0,0,0,.05);

    h2 {
        font-weight: 600;
    }
}

.box-content {
    padding: 1.5rem;
}